body {
    background-color: #f0ece4;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color:burlywood;
    margin-top: 12%;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 35px;
}

hr {
    color: burlywood
}

a {
    color: burlywood;
    font-size: 24px;
    text-decoration: none;
}

.github:hover {
    text-decoration: underline;
}


.discord:hover {
    text-decoration: underline;
}

.twitter:hover {
    text-decoration: underline;
}

